
nav{
    background:#0f172a;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}


nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}


nav a{
    color:white;
    text-decoration:none;
}


.hero{
    height:80vh;
    background:
    linear-gradient(
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
    ),
    url("https://images.unsplash.com/photo-1523805009345-7448845a9e53")
    center/cover;

    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
}


.hero h1{
    font-size:55px;
}


.hero p{
    font-size:20px;
    margin:20px;
}


.btn{
    background:#22c55e;
    color:white;
    padding:15px 35px;
    border-radius:30px;
    text-decoration:none;
}


.features{
    display:flex;
    gap:30px;
    padding:50px;
}


.card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px #ddd;
    flex:1;
}


.generator-box,
.about,
.contact{
    max-width:600px;
    margin:50px auto;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px #ddd;
}


.generator-box input,
.contact input,
.contact textarea{
    width:100%;
    padding:15px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ccc;
}


textarea{
    height:120px;
}


button{
    width:100%;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}


footer{
    text-align:center;
    padding:20px;
}
```


  